* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.main-div {
  background-image: linear-gradient(to bottom left, #efefef 20%, #ffffff 35%);
  display: flex;
  /* background-size: cover; */
  justify-content:center;
  align-items:center;
  height:100vh;
}
@media screen and (min-width:768px) {
  .main-div{
    height:100vh;
    
  }
  
}

@media screen and (max-width:768px) {
  .main-div {
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
}

.up-image{
  width:100%;
}

.down-image{
  width:100%;
}

@media screen and (min-width:768px){
  .up-image{
    display:none;
  }
  .down-image{
    display:none;
  }
}


.loginPage-left-mainContainer {
  display: flex;
  width: 50%;
  justify-content: center;
}

@media screen and (max-width:768px) {
  .loginPage-left-mainContainer {
    width: 100%;
    justify-content: center;
  }
}

.left-logo-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.img {
  width: 200px;
}
@media screen and (max-width:768px){
  .img{
    width:140px;
    margin-bottom:15px;
  }
}

.loginPage-right-mainContainer {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items:center;
}

@media screen and (max-width:768px) {
  .loginPage-right-mainContainer {
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
  }
}

.checkpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width: 400px;
  /* border:1px solid black; */
  height:500px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding:0px 10px;
}

@media screen and (max-width:768px) {
  .checkpage {
    width: 280px;
    height:auto;
  }
}


.input-form {
  text-align: center;
  margin: 20px;
}

.input-form input[type="email"],
.input-form input[type="password"],
.input-form input[type="area"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
}
.selectarea{
  /* width: 100%;
  padding: 10px; */
  margin-bottom: 10px;
  /* border: 1px solid #ccc;
  border-radius: 25px;
  color:#FF8a00; */

}
.form-group select{
  width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.input-form input[type="checkbox"] {
  margin-right: 5px;
}

.input-form .check {
  margin-bottom: 15px;
}

.input-form .login-button {
  width: 100%;
  padding: 10px;
  background-color: #FF8a00;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 600;
}
.signupButton{
  width:95%;
  padding: 10px;
  border:1px solid #FF8a00;
  background-color:transparent;
  color: black;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  font-weight: 600;
}

.spanText{
  font-size:18px;
  margin-top:-20px;
  margin-bottom:5px;
}

.login-heading {
  color: #FF8a00;
}
.forgot-heading{
  color: #FF8a00;
  font-size:35px;
}
.forgotbtndiv{
  text-align:right;
  margin-top:-1px;
  margin-bottom:5px;
}



.loginfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  gap: 10px;
  margin-top: 10px;
}

.forgotText {
  color: blue;
  cursor: pointer;
  font-weight:600;
}

.forgotText:hover {
  text-decoration: underline;
}

.login-mainPageText {
  padding-left: 20px;
  width: 450px;
  margin-top:10px;

  @media screen and (max-width:768px) {
    display: none;
  }
}

#admin {
  margin-right: 15px;
  width: 10px;
  height: 18px;
}

#subadmin {
  margin-right: 15px;
  width: 10px;
  height: 18px;
}
.form-error-msg{
  text-align:left;
  padding-left:10px;
  color: red;
}
.custom-input {
  height:40px; 
  padding: 5px 10px; 
}
.error-message {
  color: red;
}
.signupdiv{
  margin-top:-20px;
}

.loginSingupHeadContianer{
  display:flex;
  justify-content:center;
  margin-top:20px;
  margin-bottom:-20px;
  align-items:center;
}
.loginSigninLogo{
  height:60px;
  width:50px;
  margin-right:5px;
}
.cardsHeading{
  text-align:center;
  line-height:20px;
  font-weight:800;
  margin-top:15px;
  margin-left:5px;

}

@media screen and (min-width:768px){
  .loginSingupHeadContianer{
    display:none;
  }
}
@media screen and (max-width:768px){
  .login-heading{
    display:none;
  }
  .loginPage-left-mainContainer{
    display:none;
  }
}
.showPasswordDiv{
  position: relative;
  margin-bottom: 10px;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem; /* Adjust as needed for positioning */
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc; /* Icon color */
}

.password-toggle-icon:hover {
  color: #333; /* Icon color on hover */
}
.password-toggle-icon-signup{
  position: absolute;
  top: 50%;
  right:1.2rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc; /* Icon color */
}
.password-toggle-icon-signup:hover{
  color:#333;
}

/* For WebKit browsers (Chrome, Safari, Opera) */
input[type="password"]::-webkit-input-decoration {
  display: none;
}

/* For Mozilla Firefox */
input[type="password"]::-moz-eye {
  display: none;
}

/* For Microsoft Edge */
input[type="password"]::-ms-reveal {
  display: none;
}

.custom-select {
  opacity: 0.8; 
}