@media screen and  (max-width:425px)
{
    .filterExpense{
        display:flex;
        flex-direction: column;
    }


}
@media screen and (max-width:768px){
    #expensePageAddBtn{
      width:250px;
      font-size:14px;
    }
  }