.bg-container{
  display: flex;
  min-height: 100vh;
}

.leftsidebar{
  background-color: #ECECEC;
  width: auto;
  padding: 10px;
  border-radius: 0px 50px 50px 0px;
  min-height: 100%;
}

.rightsidebar{
  width: 90%;
  padding: 20px;
}

*{
  box-sizing: border-box;
  margin: 0;
}


/* ================= monthlyDailyButtons ============  */
.monthlyDailyButtons{
  width: 100%;
  border: 1px solid #333333;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.manageRentButton {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f0f0f0; /* Light grey background */
  color: #000; /* Black text */
  border: 1px solid #ccc; /* Light grey border */
  width: 100%;
}

.manageRentButton.active {
  background-color: #FF8A00; /* Green background for active state */
  color: white; /* White text for active state */
  border-color: #FF8A00; /* Green border to match */
}


.filterExpense{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.filterExpenseField{
  border:2px solid #FF8A00;
  padding: 3px;
  border-radius: 5px;
  margin-right: 5px;
}